<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>我的购物车-小米商城</title>
	<!-- 	<link rel="stylesheet" type="text/css" href="./css/style.css"> -->

		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script src="/static/jquery/jquery.min.js"></script>
		<script src="/static/layer/layer.js"></script>


	
	

	</head>
	<body>
	<!-- start header -->
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
			
			<div class="wdgwc fl ml40">我的购物车</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>
					<li><a href="./login.html" target="_blank">登录</a></li>
					<li>|</li>
					<li><a href="./register.html" target="_blank">注册</a></li>	
				</ul>
				
			</div>
			<div class="clear"></div>
		</div>
		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<div class="gwcxd center">
				<div class="top2 center">
					<div class="sub_top fl">
						<input type="checkbox" value="quanxuan" class="quanxuan" id='quanxuan'/>全选
					</div>
					<div class="sub_top fl">商品名称</div>
					<div class="sub_top fl">单价</div>
					<div class="sub_top fl">数量</div>
					<div class="sub_top fl">小计</div>
					<div class="sub_top fr">操作</div>
					<div class="clear"></div>
				</div>

				{foreach $data as $v}
				<div class="content2 center">
					<div class="sub_content fl ">
						<input type="checkbox" value="quanxuan" class="quanxuan1"name="goods" onclick='checkall()'/>
					</div>
					<div class="sub_content fl"><img src="{$v.img}" height='80' width='70'  ></div>
					<div class="sub_content fl ft20">{$v.name}{$v.configure}{$v.font}</div>
					<div class="sub_content fl "><span id='qian{$v.id}'>{$v.money}</span>元</div>
					<div class="sub_content fl">
						<input class="shuliang" type="number" value="1" step="1" min="1" oninput="alter({$v.id})" id='all{$v.id}'>
					</div>
					<div class="sub_content fl"><span name='zonemoney' id = 'print{$v.id}'>{$v.money}</span>.00</div>
									<input type="hidden" name="noemoney" value='{$v.money}'id='money{$v.id}'>
					<div class="sub_content fl"><a  onclick="deletes('{$v.id}')">×</a></div>
					<div class="clear"></div>
				</div>
				{/foreach}
			</div>
			<div class="jiesuandan mt20 center">
				<div class="tishi fl ml20">
					<ul>
						<li><a href="./liebiao.html">继续购物</a></li>
						<li>|</li>
						<li>共<span>{$count}</span>件商品，已选择<span id="count">0</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="jiesuan fr">
					<div class="jiesuanjiage fl">合计（不含运费）：<span id='money'>0</span></div>
					<div class="jsanniu fr"><input class="jsan" type="submit" name="jiesuan"  value="去结算"/></div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			
		</div>

  
		 <script>
		//全选

		$("#quanxuan").click(function(){
				var quanxuan = document.getElementById('quanxuan');
				var money = document.getElementsByName('noemoney'); //价格
		
				var goods = document.getElementsByName('goods');  //子级
				
				var print = 0;  //money
				var count = 0 ; //选中的商品
				if(quanxuan.checked == true){
					for(var i = 0 ; i < goods.length ; i++){
						goods[i].checked = true;
						var res = parseInt(money[i].value)
						print = print + res;
						count = count + 1;
					}
				}else{
					for(var i = 0 ; i < goods.length ; i++){
						goods[i].checked = false;
					}
				}
				$("#money").html(print);
				$("#count").html(count);
		});
		
			
			//全选后的数据处理
			function checkall(){
				var money = document.getElementsByName('noemoney'); //价格
				var goods = document.getElementsByName('goods');  //子级
				
				var print = 0;
				var count = 0 ; //选中的商品
				for(var i = 0 ; i<goods.length;i++){
					if(goods[i].checked == true){
						var res = parseInt(money[i].value)
						print = print + res;
						count = count + 1;
					}else{
						quanxuan.checked = false;
					}
				}
		
				$("#money").html(print);
				$("#count").html(count);
			}
		
			//数量添加金额增加
		
			function alter(i){
				var alter = $("#all"+i).val(); //数量
		 
		
				var qian = $("#qian"+i).html();   //原始价格
				var goods = document.getElementsByName('goods');  //子级
				var money = $("#money"+i).val(); //价格  藏
				
				
				 var sum = 0;   // 初始化
				 var res = parseInt(qian);  //转换成int
		
				sum = qian * alter;  //数量价格
				
				var print = $("#print"+i).html(sum); //价格   显
				
				var money = $("#money"+i).val(sum); //价格  藏
				
				var dataMoney1 = document.getElementsByName('noemoney'); //价格数据源
				var print = 0 ; //总价格
				for(var a = 0 ; a<goods.length;a++){
					if(goods[a].checked == true){
						dataMoney = parseInt(dataMoney1[a].value);
						print = print + dataMoney;
					}
				}
				$("#money").html(print);
			}

			//删除
			function deletes(a){
				$.post("{:url('Goods/delets')}",{id:a},function(data){
					if(data.code == 1){
						layer.msg(data.msg, {icon: 1,time:1000},function(){
								location.reload();
						});
					}else{
						layer.msg(data.msg, function(){
									//关闭后的操作
						});
					}
				});
			}
		</script> 
	
	<!-- footer -->
	<footer class="res">
			
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer>

	</body>
</html>
