<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>我的购物车-小米商城</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script src="/static/jquery/jquery.min.js"></script>
		<script src="/static/layer/layer.js"></script>
	</head>
	<body>
	<!-- start header -->
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="./index.html" target="_blank"><div class="logo fl"></div></a>
			
			<div class="wdgwc fl ml40">{$Think.lang.MyshopCat}</div>
			<div class="wxts fl ml20">温馨提示：产品是否购买成功，以最终下单为准哦，请尽快结算</div>
			<div class="dlzc fr">
				<ul>
					<li><a href="user/login.html" target="_blank">登录</a></li>
					<li>|</li>
					<li><a href="user/register.html" target="_blank">注册</a></li>
				</ul>
				
			</div>
			<div class="clear"></div>
		</div>
		<div class="xiantiao"></div>
		<div class="gwcxqbj">
			<div class="gwcxd center">
				<div class="top2 center">
					<div class="sub_top fl">
						<input type="checkbox" value="quanxuan" class="quanxuan" />全选
					</div>
					<div class="sub_top fl">商品名称</div>
					<div class="sub_top fl">单价</div>
					<div class="sub_top fl">数量</div>
					<div class="sub_top fl">小计</div>
					<div class="sub_top fr">操作</div>
					<div class="clear"></div>
				</div>
				{if condition="$ShopCatData != null "}
				{foreach $ShopCatData as $v}
				<div class="content2 center">
					<div class="sub_content fl ">
						<input type="checkbox" value="quanxuan" class="quanxuan" name="check" />
					</div>
					<div class="sub_content fl"><img src="__IMG__/gwc_xiaomi6.jpg"></div>
					<div class="sub_content fl ft20">{$v.shopName}</div>
					<div class="sub_content fl "><span class="price">{$v.price}</span></div>
					<div class="sub_content fl">
						<input class="shuliang" type="number" value="1" step="1" min="1" name="price">
					</div>
					<div class="sub_content fl" name="sum">{$v.price * $v.number}</div>
					<div class="sub_content fl"><a href="">×</a></div>
					<div class="clear"></div>
				</div>
				{/foreach}{/if}
				
			</div>
			<div class="jiesuandan mt20 center">
				<div class="tishi fl ml20">
					<ul>
						<li><a href="./liebiao.html">继续购物</a></li>
						<li>|</li>
						<li>共<span>2</span>件商品，已选择<span>0</span>件</li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="jiesuan fr">
					<div class="jiesuanjiage fl">合计（不含运费）：<span id="aggregate">0</span></div>
					<div class="jsanniu fr"><input class="jsan" type="submit" name="jiesuan"  value="去结算"/></div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	<!-- footer -->
	<footer class="center">
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>
		</footer>

	</body>
</html>
<script>
	//Input number 属性框 点击事件
	$('input[type=number]').change(function(){
		var aggregate = 0;
		var eq = $('input[type=number]').index()
		var number = $('input[type=number]').eq(eq).val()
		if( number <= 0 ){
			layer.msg('不能小于或等于0')
			$('input[type=number]').eq(eq).val(1)
			number = 1
		}
		var price = Number($('.price').eq(eq).html())
		if($('.quanxuan').eq(eq+1).is(":checked") == false){
			 $('[name=sum]').eq(eq).html(number*price)
		}else{
			$('[name=sum]').eq(eq).html(number*price)
			$('input[name=check]').each(function (index,element) {
					if($('input[name=check]').eq(index).is(":checked") == true){
						aggregate +=  Number($('[name=sum]').eq(index).html())
					}

				$('#aggregate').html(aggregate)
			})
		}
	})
	//checked 多选 点击事件
	$('input[name=check]').change(function () {
		
	})

</script>
