<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="author" content="order by dede58.com"/>
		<title>小米6立即购买-小米商城</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script src="__JQ__/jquery.min.js"></script>
		<script src="/static/layer/layer.js"></script>
	</head>
	<body>
	<!-- start header -->
		<header>
			<div class="top center">
				<div class="left fl">
					<ul>
						<li><a href="http://www.mi.com/" target="_blank">小米商城</a></li>
						<li>|</li>
						<li><a href="">MIUI</a></li>
						<li>|</li>
						<li><a href="">米聊</a></li>
						<li>|</li>
						<li><a href="">游戏</a></li>
						<li>|</li>
						<li><a href="">多看阅读</a></li>
						<li>|</li>
						<li><a href="">云服务</a></li>
						<li>|</li>
						<li><a href="">金融</a></li>
						<li>|</li>
						<li><a href="">小米商城移动版</a></li>
						<li>|</li>
						<li><a href="">问题反馈</a></li>
						<li>|</li>
						<li><a href="">Select Region</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="right fr">
					<div class="gouwuche fr"><a href="">购物车</a></div>
					<div class="fr">
						<ul>
							{if empty($Think.Session.root)}
							<li><a href="/Index/login/index" target="_blank">登录</a></li>
							<li>|</li>
							<li><a href="/Index/register/index" target="_blank" >注册</a></li>
							{else/}
							<li><a href="/Index/selfinfo/selfinfo">{$Think.Session.root}</a></li>
							{/if}
							<li>|</li>
							<li><a href="">消息通知</a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	<!--end header -->

<!-- start banner_x -->
		<div class="banner_x center">
			<a href="/Index/Index/index" target="_blank"><div class="logo fl"></div></a>
			<a href=""><div class="ad_top fl"></div></a>
			<div class="nav fl">
				<ul>
					<li><a href="">小米手机</a></li>
					<li><a href="">红米</a></li>
					<li><a href="">平板·笔记本</a></li>
					<li><a href="">电视</a></li>
					<li><a href="">盒子·影音</a></li>
					<li><a href="">路由器</a></li>
					<li><a href="">智能硬件</a></li>
					<li><a href="">服务</a></li>
					<li><a href="">社区</a></li>
				</ul>
			</div>
			<div class="search fr">
				<form action="" method="post">
					<div class="text fl">
						<input type="text" class="shuru"  placeholder="小米6&nbsp;小米MIX现货">
					</div>
					<div class="submit fl">
						<input type="submit" class="sousuo" value="搜索"/>
					</div>
					<div class="clear"></div>
				</form>
				<div class="clear"></div>
			</div>
		</div>
<!-- end banner_x -->

	
	<!-- xiangqing -->
	<form action="post" method="">
	<div class="xiangqing">
		<div class="neirong w">
			<div class="xiaomi6 fl">{$goodsFind.name}</div>
			<nav class="fr">
				<li><a href="">概述</a></li>
				<li>|</li>
				<li><a href="">变焦双摄</a></li>
				<li>|</li>
				<li><a href="">设计</a></li>
				<li>|</li>
				<li><a href="">参数</a></li>
				<li>|</li>
				<li><a href="">F码通道</a></li>
				<li>|</li>
				<li><a href="">用户评价</a></li>
				<div class="clear"></div>
			</nav>
			<div class="clear"></div>
		</div>	
	</div>
	
	<div class="jieshao mt20 w">
		<div class="left fl"><img id='telimg' width='560px' height="560px" src="{$goodsFind.img}"></div>
		<div class="right fr">
			<div class="h3 ml20 mt20">{$goodsFind.name}</div>
			<div class="jianjie mr40 ml20 mt10">{$goodsFind.content}}</div>
			<div class="jiage ml20 mt10">{$goodsFind.price}</div>
			<div class="ft20 ml20 mt20">选择版本</div>
			<div class="xzbb ml20 mt10">
			{foreach $editionData as $v }
				<div name='edition' data-id="{$v.id}" data-money='{$v.money}' class="banben fl" style='margin-bottom:10px;' onclick="edition({$v.id},'{$v.configure}',{$v.money},{$v.count})">
					<a>
						<span id="{$v.id}">{$v.configure} </span>
						<span>{$v.money}元</span>
					</a>
				</div>
			{/foreach}
				<div class="clear"></div>
			</div>
			<div class="ft20 ml20 mt20" style='clear:both'>选择颜色</div>
			<div id='color' class="xzbb ml20 mt10">
				<div class="banben">
					<a>
						<span class="yuandian"></span>
						<span class="yanse">亮黑色</span>
					</a>
				</div>
				
			</div>
			<div class="xqxq mt20 ml20" style='clear:both'>
				<div class="top1 mt10">
					<div class="left1 fl" id='content'>小米6 全网通版 6GB内存 64GB 亮黑色</div>
					<div class="right1 fr" id='money'>2499.00元</div>
					<div class="clear"></div>
				</div>
				<div class="bot mt20 ft20 ftbc" id='count'>总计：2499元</div>
			</div>
			<div class="xiadan ml20 mt20">
					<input class="jrgwc"  type="button" name="jrgwc" value="立即选购" onclick="buy()"/>
					<input class="jrgwc" id='shopping' type="button" name="jrgwc" value="加入购物车" />
				
			</div>
		</div>
		<div class="clear"></div>
	</div>
	</form>
	<!-- footer -->
	<footer class="mt20 center">
			
			<div class="mt20">小米商城|MIUI|米聊|多看书城|小米路由器|视频电话|小米天猫店|小米淘宝直营店|小米网盟|小米移动|隐私政策|Select Region</div>
			<div>©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备11010802020134号 京网文[2014]0059-0009号</div> 
			<div>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</div>

		</footer>

	</body>
		<script>

function edition(id,configure,money,count){
			//$('#edition').css("borderColor","#FFFF00");
			for(i=0;i<$("div[name='edition']").length;i++){
				if(count==i){
					$("div[name='edition']").eq(i).css("borderColor","red")
					$("#money").text(money+"元")
					$("#content").text(configure)
					$("#count").text("总计："+money+"元")
					$("div[name='edition']").eq(i).attr("id",'editionid')
					$("div[name='edition']").eq(i).attr("userid")
					$.ajax({
						type: "post",
						url:"/index/index/color",
						dataType: "json",
						data: {id:id},
						success:function(data){
							if(data.code == 0){
								html=""
								data.data.forEach(function(v){
									html+="<div class='banben' name='color' data-id='"+v.id+"' style='float:left;margin-bottom:10px' onclick=banben("+v.id+",'"+v.color+"','"+v.img+"',"+v.count+",'"+v.font+"')><a><span style='background:"+v.color+"' class='yuandian'></span><span class='yanse'>"+v.font+"</span></a></div>"
								})
								$("#color").html(html)
							}else if(data.code == 1){
								html="<div class='banben'><a><span class='yuandian'></span><span class='yanse'>无</span></a></div>"
								$("#color").html(html)
							}else{
								layer.alert('网络出现故障');
							}
						},error:function(){
							layer.msg("系统错误或网络故障！");
						}
					});
				}else{
					$("div[name='edition']").eq(i).css("borderColor","#bbb")
					$("div[name='edition']").eq(i).attr("id","emmm")
				}
			}
		}
		function banben(id,color,img,count,font){
			for(i=0;i<$("div[name='color']").length;i++){
				if(count==i){
					$("div[name='color']").eq(i).css("borderColor","red")
					$("#telimg").attr("src",img);
					$("div[name='color']").eq(i).attr("id",'colorid')
					if($("#font").html()==undefined){
						content=$("#content").html();
						content=content+" "+"<span id='font'>"+font+"</span>";
						$("#content").html(content);
					}else{
						$("#font").text(font);
					}
				}else{
					$("div[name='color']").eq(i).css("borderColor","#bbb")
					$("div[name='color']").eq(i).attr("id",'emmm')
				}
			}
		}
		$('#shopping').click(function(){
			if($("#editionid").text()==""){
				alert('请选择版本')
				return
			}
			if($("#colorid").text()==""){
				alert("请选择颜色")
				return
			}
			editionid=$("#editionid").data("id")
			colorid=$("#colorid").data("id")
			$.ajax({
				type: "post",
				url:"/index/index/goods",
				dataType: "json",
				data: {editionid:editionid,colorid:colorid,id:{$goodsFind.id}},
				success:function(data){
					if(data.code == 0){
						alert(data.msg);
					}else if(data.code == 1){
						alert(data.msg)
					}else{
						alert('网络出现故障');
					}
				},error:function(){
					alert("系统错误或网络故障！");
				}
			});
		})

			function buy() {
				if($("#editionid").text()==""){
					layer.msg('请选择版本',{icon:5});
					return
				}
				if($("#colorid").text()==""){
					layer.msg('请选择颜色',{icon:5});
					return
				}
				editionid=$("#editionid").data("id");
				colorid=$("#colorid").data("id");
				$.ajax({
					type:'post',
					url:"/index/index/buy",
					data:{editionid:editionid,colorid:colorid},
					success:function (data) {
						if(data.code == 1){
							layer.msg(data.msg,{icon:1});
						}else{
							layer.msg(data.msg,{icon:2});
						}
					}
				})
			}
</script>
</html>